.user-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--grey4);
    font-size: var(--size-4);
    line-height: var(--line-height-4);
}

.select {
    background-color: var(--grey2);
    padding: var(--padding-2);
    border-radius: var(--radius-1);
}

.title1 {
    font-weight: var(--weight-1);
    font-size: var(--size-1);
    line-height: var(--line-height-1);
    color: var(--grey1);
    word-wrap: break-word;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--padding-1);
    width: 100%;
}

form > p {
    text-align: center;
    width: 100%;
    font-size: var(--size-4);
}

.input-group {
    width: calc(100% - var(--padding-1)*2);
    border-radius: var(--radius-1);
    padding: calc(var(--padding-2)*2) var(--padding-1);
    border: 2px solid var(--grey4);
    color: var(--grey2);
}

.input-group:focus {
    outline-color: var(--brand1);
}

.primary-btn, .outline-btn, .btn-grey1 {
    background-color: var(--brand1);
    border: none;
    padding: var(--padding-3);
    color: var(--whiteFixed);
    font-family: Inter, "sans-serif";
    font-size: var(--size-4);
    font-weight: var(--weight-2);
    line-height: var(--line-height-4);
    border-radius: var(--radius-1);
    cursor: pointer;
}

.btn-grey1 {
    background-color: var(--grey1);
}

.btn-grey1:hover {
    background-color: var(--grey0);
}

.primary-btn:hover {
    background-color: var(--brand2);
}

.outline-btn {
    border: 1px solid var(--grey1);
    background-color: transparent;
    color: var(--grey1);
}

.outline-btn:hover {
    background-color: var(--hover-outline);
    border-color: var(--brand1);
    color: var(--brand1);
}

#login-btn, #back-register-btn, #register-btn, #back-login-btn-second {
    width: 100%;
}

.modal-edit, .modal-show-post-wrapper {
    background-color: var(--grey-opacity-1);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: calc(var(--padding-5)*2) var(--padding-5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-show-post-wrapper {
    justify-content: center;
    align-items: center;
}

.modal-show-post {
    background-color: var(--whiteFixed);
    width: 53%;
    min-width: 760px;
    display: flex;
    flex-direction: column;
    padding: calc(var(--padding-1)*2) var(--padding-5);
    position: relative;
    gap: calc(var(--padding-2)*4);
    border-radius: var(--radius-2);
}

.close-post-modal{
    background-color: var(--grey5);
    color: var(--grey3);
    width: calc(var(--padding-1)*2);
    height: calc(var(--padding-1)*2);
    border-radius: 50%;
    position: absolute;
    font-size: var(--size-1);
    top: calc(var(--padding-4)*2);
    right: calc(var(--padding-4)*3);
    border: none;
    font-family: Nunito, "sans-serif";
    font-weight: var(--weight-3);
    cursor: pointer;
}

.modal-home {
    width: 31%;
    min-width: 446px;
    min-height: 120px;
    position: relative;
    background-color: var(--brand1);
    border-radius: var(--radius-2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--padding-1);
    padding: calc(var(--padding-2)*4) var(--padding-1);
    color: var(--whiteFixed);
}

.modal-home > h3 {
    font-size: var(--size-3);
    font-weight: var(--weight-2);
    line-height: var(--line-height-4);
}

.modal-home > p {
    font-size: var(--size-4);
    font-weight: var(--weight-4);
    line-height: var(--line-height-3);
}

.white-fixed-btn {
    background-color: var(--whiteFixed);
    border: none;
    padding: var(--padding-3);
    color: var(--grey1);
    font-family: Inter, "sans-serif";
    font-size: var(--size-4);
    font-weight: var(--weight-2);
    line-height: var(--line-height-4);
    border-radius: var(--radius-1);
    cursor: pointer;
    position: absolute;
    bottom: calc(var(--padding-3)*2);
    right: var(--padding-1);
}

.hidden {
    display: none;
}

.title2, #followers, .text2 {
    font-size: var(--size-5);
    font-weight: var(--weight-3);
    line-height: var(--line-height-4);
    color: var(--grey1);
}

.title2 {
    font-size: var(--size-2);
    font-weight: var(--weight-2);
    line-height: var(--line-height-3);
    word-wrap: break-word;
}

.text2 {
    font-size: var(--size-4);
    color: var(--grey2);
    width: 100%;
    word-wrap: break-word;
}

#container-post-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#title-posts{
    margin-bottom: calc(var(--padding-4)*11);
}

#posts {
    width: 100%;
}

.post-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: calc(var(--padding-2)*4);
}

.text1 {
    font-weight: var(--weight-3);
    font-size: var(--size-3);
    line-height: var(--line-height-2);
    color: var(--grey2);
    width: 100%;
    word-wrap: break-word;
}

.post-subject {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--padding-1);
}

.interactions-user {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: calc(var(--padding-2)*4);
}

#post-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: calc(var(--padding-4)*10);
}

.likes {
    display: flex;
    align-items: center;
    gap: var(--padding-4);
}

.img-like {
    cursor: pointer;
}