.user-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--grey4);
    font-size: var(--size-4);
    line-height: var(--line-height-4);
}

.select {
    background-color: var(--grey2);
    padding: var(--padding-2);
    border-radius: var(--radius-1);
}

h2 {
    font-weight: var(--weight-1);
    font-size: var(--size-1);
    line-height: var(--line-height-1);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--padding-1);
}

form > p {
    text-align: center;
    width: 100%;
    font-size: var(----size-4);
}

.input-group {
    width: calc(100% - var(--padding-1)*2);
    border-radius: var(--radius-1);
    padding: calc(var(--padding-2)*2) var(--padding-1);
    border: 2px solid var(--grey4);
    color: var(--grey2);
}

.input-group:focus {
    outline-color: var(--brand1);
}

.primary-btn, .outline-btn {
    background-color: var(--brand1);
    border: none;
    padding: var(--padding-3);
    color: var(--whiteFixed);
    font-family: Inter, "sans-serif";
    font-size: var(----size-4);
    font-weight: var(--weight-2);
    line-height: var(----line-height-4);
    border-radius: var(--radius-1);
    cursor: pointer;
}

.primary-btn:hover {
    background-color: var(--brand2);
}

.outline-btn {
    border: 1px solid var(--grey1);
    background-color: transparent;
    color: var(--grey1);
}

.outline-btn:hover {
    background-color: var(--hover-outline);
    border-color: var(--brand1);
    color: var(--brand1);
}

#login-btn, #back-register-btn, #register-btn, #back-login-btn-second {
    width: 100%;
}

.modal-edit {
    background-color: var(--grey-opacity-1);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: calc(var(--padding-5)*2) var(--padding-5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-home {
    width: 31%;
    min-width: 446px;
    min-height: 120px;
    position: relative;
    background-color: var(--brand1);
    border-radius: var(--radius-2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--padding-1);
    padding: calc(var(--padding-2)*4) var(--padding-1);
    color: var(--whiteFixed);
}

.modal-home > h3 {
    font-size: var(--size-3);
    font-weight: var(--weight-2);
    line-height: var(--line-height-4);
}

.modal-home > p {
    font-size: var(--size-4);
    font-weight: var(--weight-4);
    line-height: var(--line-height-3);
}

.white-fixed-btn {
    background-color: var(--whiteFixed);
    border: none;
    padding: var(--padding-3);
    color: var(--grey1);
    font-family: Inter, "sans-serif";
    font-size: var(----size-4);
    font-weight: var(--weight-2);
    line-height: var(----line-height-4);
    border-radius: var(--radius-1);
    cursor: pointer;
    position: absolute;
    bottom: calc(var(--padding-3)*2);
    right: var(--padding-1);
}

.hidden {
    display: none;
}  